In [1]:
import pandas as pd
import os

In [34]:
path = 'data/raw/streamflow'
stream_dir = os.listdir(os.path.join('..',path))
stream_dir

['15247002_01.01.2014_31.12.2018_tmw_0.csv',
 '15212008_01.01.2014_31.12.2018_tmw_0.csv',
 '10062000_01.01.2019_01.01.2024_tmw_0.csv',
 '15247002_01.01.2019_01.01.2024_tmw_0.csv',
 '10062000_01.01.2014_31.12.2018_tmw_0.csv',
 '15212008_01.01.2019_01.01.2024_tmw_0.csv',
 '15217908_01.01.2014_31.12.2018_tmw_0.csv',
 '15214604_01.01.2014_31.12.2018_tmw_0.csv',
 '15221009_01.01.2019_01.01.2024_tmw_0.csv',
 '15214604_01.01.2019_01.01.2024_tmw_0.csv',
 '15221009_01.01.2014_31.12.2018_tmw_0.csv',
 '15217908_01.01.2019_01.01.2024_tmw_0.csv',
 '15207507_01.01.2019_01.01.2024_tmw_0.csv',
 '15228008_01.01.2014_31.12.2018_tmw_0.csv',
 '15216009_01.01.2014_31.12.2018_tmw_0.csv',
 '15214003_01.01.2019_01.01.2024_tmw_0.csv',
 '15228008_01.01.2019_01.01.2024_tmw_0.csv',
 '15216009_01.01.2019_01.01.2024_tmw_0.csv',
 '15214003_01.01.2014_31.12.2018_tmw_0.csv',
 '15207507_01.01.2014_31.12.2018_tmw_0.csv',
 '15212700_01.01.2019_01.01.2024_tmw_0.csv',
 '15205501_01.01.2014_31.12.2018_tmw_0.csv',
 '15205501_01.01.2019_01.01.2024_tmw_0.csv',
 '15212700_01.01.2014_31.12.2018_tmw_0.csv',
 '15202300_01.01.2019_01.01.2024_tmw_0.csv',
 '15243001_01.01.2019_01.01.2024_tmw_0.csv',
 '15243001_01.01.2014_31.12.2018_tmw_0.csv',
 '15202300_01.01.2014_31.12.2018_tmw_0.csv',
 '15242304_01.01.2019_01.01.2024_tmw_0.csv',
 '15247501_01.01.2014_31.12.2018_tmw_0.csv',
 '15210206_01.01.2014_31.12.2018_tmw_0.csv',
 '15241006_01.01.2019_01.01.2024_tmw_0.csv',
 '15242508_01.01.2014_31.12.2018_tmw_0.csv',
 '15213500_01.01.2014_31.12.2018_tmw_0.csv',
 '15246000_01.01.2019_01.01.2024_tmw_0.csv',
 '15246000_01.01.2014_31.12.2018_tmw_0.csv',
 '15213500_01.01.2019_01.01.2024_tmw_0.csv',
 '15242508_01.01.2019_01.01.2024_tmw_0.csv',
 '15242304_01.01.2014_31.12.2018_tmw_0.csv',
 '15241006_01.01.2014_31.12.2018_tmw_0.csv',
 '15247501_01.01.2019_01.01.2024_tmw_0.csv',
 '15210206_01.01.2019_01.01.2024_tmw_0.csv']

In [36]:
pd.read_csv(os.path.join('..',path,stream_dir[0]),sep=';',skiprows=10)

           Datum Mittelwert Maximum Minimum Prüfstatus
0     2014-01-01      0,355   0,427   0,256   Geprueft
1     2014-01-02      0,361   0,427   0,257   Geprueft
2     2014-01-03      0,362   0,429   0,286   Geprueft
3     2014-01-04      0,382   0,469   0,288   Geprueft
4     2014-01-05      0,561   0,731   0,394   Geprueft
...          ...        ...     ...     ...        ...
1821  2018-12-27      0,867       1   0,755   Geprueft
1822  2018-12-28        0,7   0,755    0,62   Geprueft
1823  2018-12-29      0,575    0,62   0,538   Geprueft
1824  2018-12-30      0,616   0,707   0,538   Geprueft
1825  2018-12-31      0,601   0,661   0,537   Geprueft

[1826 rows x 5 columns]

In [37]:
stream_dir[0][0:8]

'15247002'

In [39]:
stream_dir

['15247002_01.01.2014_31.12.2018_tmw_0.csv',
 '15212008_01.01.2014_31.12.2018_tmw_0.csv',
 '10062000_01.01.2019_01.01.2024_tmw_0.csv',
 '15247002_01.01.2019_01.01.2024_tmw_0.csv',
 '10062000_01.01.2014_31.12.2018_tmw_0.csv',
 '15212008_01.01.2019_01.01.2024_tmw_0.csv',
 '15217908_01.01.2014_31.12.2018_tmw_0.csv',
 '15214604_01.01.2014_31.12.2018_tmw_0.csv',
 '15221009_01.01.2019_01.01.2024_tmw_0.csv',
 '15214604_01.01.2019_01.01.2024_tmw_0.csv',
 '15221009_01.01.2014_31.12.2018_tmw_0.csv',
 '15217908_01.01.2019_01.01.2024_tmw_0.csv',
 '15207507_01.01.2019_01.01.2024_tmw_0.csv',
 '15228008_01.01.2014_31.12.2018_tmw_0.csv',
 '15216009_01.01.2014_31.12.2018_tmw_0.csv',
 '15214003_01.01.2019_01.01.2024_tmw_0.csv',
 '15228008_01.01.2019_01.01.2024_tmw_0.csv',
 '15216009_01.01.2019_01.01.2024_tmw_0.csv',
 '15214003_01.01.2014_31.12.2018_tmw_0.csv',
 '15207507_01.01.2014_31.12.2018_tmw_0.csv',
 '15212700_01.01.2019_01.01.2024_tmw_0.csv',
 '15205501_01.01.2014_31.12.2018_tmw_0.csv',
 '15205501_01.01.2019_01.01.2024_tmw_0.csv',
 '15212700_01.01.2014_31.12.2018_tmw_0.csv',
 '15202300_01.01.2019_01.01.2024_tmw_0.csv',
 '15243001_01.01.2019_01.01.2024_tmw_0.csv',
 '15243001_01.01.2014_31.12.2018_tmw_0.csv',
 '15202300_01.01.2014_31.12.2018_tmw_0.csv',
 '15242304_01.01.2019_01.01.2024_tmw_0.csv',
 '15247501_01.01.2014_31.12.2018_tmw_0.csv',
 '15210206_01.01.2014_31.12.2018_tmw_0.csv',
 '15241006_01.01.2019_01.01.2024_tmw_0.csv',
 '15242508_01.01.2014_31.12.2018_tmw_0.csv',
 '15213500_01.01.2014_31.12.2018_tmw_0.csv',
 '15246000_01.01.2019_01.01.2024_tmw_0.csv',
 '15246000_01.01.2014_31.12.2018_tmw_0.csv',
 '15213500_01.01.2019_01.01.2024_tmw_0.csv',
 '15242508_01.01.2019_01.01.2024_tmw_0.csv',
 '15242304_01.01.2014_31.12.2018_tmw_0.csv',
 '15241006_01.01.2014_31.12.2018_tmw_0.csv',
 '15247501_01.01.2019_01.01.2024_tmw_0.csv',
 '15210206_01.01.2019_01.01.2024_tmw_0.csv']

In [43]:
dfs = []
for filename in stream_dir:
    df = pd.read_csv(os.path.join('..',path, filename),sep=';',skiprows=10)
    df['measurement_location'] = filename[:8]
    dfs.append(df)
streamflow_data = pd.concat(dfs, ignore_index=True)

In [44]:
streamflow_data

            Datum Mittelwert Maximum Minimum Prüfstatus measurement_location
0      2014-01-01      0,355   0,427   0,256   Geprueft             15247002
1      2014-01-02      0,361   0,427   0,257   Geprueft             15247002
2      2014-01-03      0,362   0,429   0,286   Geprueft             15247002
3      2014-01-04      0,382   0,469   0,288   Geprueft             15247002
4      2014-01-05      0,561   0,731   0,394   Geprueft             15247002
...           ...        ...     ...     ...        ...                  ...
74002  2023-12-28       28,5    30,4      27   Rohdaten             15210206
74003  2023-12-29         26    28,5    22,4   Rohdaten             15210206
74004  2023-12-30       24,4    25,1    23,3   Rohdaten             15210206
74005  2023-12-31       22,2    23,7      21   Rohdaten             15210206
74006  2024-01-01       20,7    22,4    19,6   Rohdaten             15210206

[74007 rows x 6 columns]